body {
	max-width: 700px;
	width: 80%;
	margin: 20 px auto;
	border: 20px solid #bdc3c7;
	padding: 20px;
	font-family: "Source Sans Pro";
	font-size: 14px;
}

h2 {
	font-size: 2.0em;
	font-weight: 800;
	color: #2c3e50;
}
.post {
	margin-bottom: 20px;
}

.date {
	text-transform: uppercase;
	color: #3498db;
	letter-spacing: .2em;
}

h2 + p {
	border-left: 6px solid #bdc3c7;
	padding-left: 6px;
}

hr {
	border: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(189, 195, 199, 0), rgba(189, 195, 199, 0.75), rgba(189, 195, 199, 0));
    margin-bottom: 20px;
}