<h1>Secret Page</h1>

<p>You found it!</p>
<img src="https://images.unsplash.com/photo-1490168040734-2226e72962f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2255&q=80" width="30%">

<ul>
	<li><a href="/logout">Log Out</a></li>
</ul>